@import '../../../src/common/common.less';

:global {
  .swiper-pagination-bullets{
    left: 10%;
    right: unset !important;
    .swiper-pagination-bullet{
      display: inline-block !important;
      margin: 0 !important;
    }
  }

}

.container{
  .header{
    position: fixed;
    top: 0;
    z-index: 999;
    height: 88px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .company-logo{
      height: 45%;
    }
    .header-nav{
      width: 50%;
      font-size: 16px;
      color: white;
      display: flex;
      justify-content: space-between;
      .nav-item{
        position: relative;
        width: 70px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        &::after{ /*伪类, 添加一个下划线, 但是不给宽度*/
          content: '';
          height: 2px;
          background-color: white;
          position:absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
        &:hover:after{ /*hover的时候给一个动画*/
          animation-name: ani;
          animation-duration:1s;
          animation-fill-mode:forwards; /*动画停在最后100%时候的状态*/
          animation-direction:alternate;
        }
        @keyframes ani{ /*这个动画的意思就是宽度从0-100*/
          from{
            width: 0;
          }
          to{
            width: 50%;
          }
        }
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }

  .content{
    position: relative;
    height: 100%;


  }

}
