@import '../../../src/common/common.less';

.container{
  height: 1000px;
  .header{
    position: fixed;
    top: 0;
    z-index: 999;
    height: 88px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .company-logo{
      height: 45%;
    }
    .header-nav{
      width: 50%;
      font-size: 16px;
      color: white;
      display: flex;
      justify-content: space-between;
      .nav-item{
        position: relative;
        width: 70px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        &::after{ /*伪类, 添加一个下划线, 但是不给宽度*/
          content: '';
          height: 2px;
          background-color: white;
          position:absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
        &:hover:after{ /*hover的时候给一个动画*/
          animation-name: ani;
          animation-duration:1s;
          animation-fill-mode:forwards; /*动画停在最后100%时候的状态*/
          animation-direction:alternate;
        }
        @keyframes ani{ /*这个动画的意思就是宽度从0-100*/
          from{
            width: 0;
          }
          to{
            width: 50%;
          }
        }
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }

  .content{
    position: relative;
    height: 100%;
    .advert{
      position: absolute;
      top: 0px;
      .advert-desc{
        display: flex;
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 199;
        transform: translate(0%, -50%);
        color: white;
        .desc1{
          font-size: 15px;
          margin-bottom: 25px;
        }
        .desc2{
          font-size: 42px;
          margin-bottom: 25px;
        }
        .desc-btn{
          display: inline-block;
          font-size: 1em;
          border: 1px solid #FFFFFF;
          border-radius: 50px;
          padding: 1em 1.5em;
          font-weight: 400;
          color: #FFFFFF;
          margin: 1em 0;
          transition: all 1s;
          cursor: pointer;
          background-color:transparent;
        }
      }

      .advert-bar-item1, .advert-bar-item2, .advert-bar-item3{
        width: 15%;
        height: 5px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 80%;
        left: 20%;
        z-index: 199;
        &::after{
          content: '';
          display: block;
          width: 0%;
          height: 100%;
          background-color: white;
          animation-name: bar-ani;
          animation-duration:8s;

          //animation-direction: alternate;
          animation-iteration-count:infinite;
          animation-fill-mode:forwards; /*动画停在最后100%时候的状态*/
        }

        @keyframes bar-ani{ /*这个动画的意思就是宽度从0-100*/
          from{
            width: 0;
          }
          to{
            width: 100%;
          }
        }
      }


      .advert-bar-item2{
        left: 40%;
        &::after{
          animation-delay: 2s;
        }
      }

      .advert-bar-item3{
        left: 60%;
        &::after{
          animation-delay: 4s;
        }
      }

      @keyframes bar-ani{ /*这个动画的意思就是宽度从0-100*/
        0%{
          width: 0;
        }
        25%{
          width: 100%;
        }
        50%{
          width: 0;
        }
        75%{
          width: 0;
        }
        100%{
          width: 0;
        }
      }

      .advert-img{
        width: 100%;
      }
    }
  }

}
